---
layout: home2
permalink: /academy/
title: Civic Technology Academy
subhead: Based on decades of years of experience leading the field, the Public Innovation Academy includes outcomes-driven online trainings for anyone, anywhere on the essential skills and tools for making an impact in the 21st Century
tags: [about, Abhi Nemani, Code for America, pandas]
img: pia-social.jpg
---
<section class="banner-section" style="background-image: url(../img/pia-back.jpg);">
	<div class="wrap wrap-center ">
		<div class="wrap_float" >
			<div class="section-content">
				 <img src="../img/cta-logo3.png" style="max-width: 80%; padding-bottom: 20px;" alt="Public Innovation Academy">
				 <p class="subtitle" style="color: white; line-height: 1.3em;">
					 Best practices and lessons for innovators &#8212; current or future, private or public &#8212; with a focus on getting the job done, based on lectures at the University of Chicago, Code for America, and conferences around the world.
				 </p>
			   				<div class="buttons">
			   					<a class="btn" href="/contact/"  onclick="gtag('event', 'Contact', {
			     'event_category': 'button',
			     'event_label': 'home'});"><span>Questions? Let's talk</span></a>	
			   					<a href="/consulting/" class="btn border-btn"><span>Training Services</span></a>				 
			   				</div>
			 </div>
		 </div>
	 </div>
</section>

<div class="page-wrap archive-pager">
	<div class="archive-body">
		<div class="wrap">
			<div class="page-wrap-content academy">
				<div class="post-items-list posts-three-columns">
				
					{% for lesson in site.lessons %}
					<a href="{{lesson.url}}" class="post-item" style="max-height: 300px;">
						{% if lesson.img  %}
						
						<img src="{{ site.url }}/img/lessons/standard.jpg" alt="" class="post-bg-img">
						{% else %}
						<img src="{{ site.url}}/img/placeholder.jpg" alt="" class="post-bg-img">
						
						{% endif  %}

						<div class="academy-post-info">
							<div class="post-tags">
								{% if post %}
								{% assign tags = lesson.tags %}
								{% else %}
								{% assign tags = lesson.tags %}
								{% endif %}
								{% for tag in tags %}
								<div class="tag">{{ tag }}</div>
								{% unless forloop.last %}&nbsp;{% endunless %}
								{% endfor %}
							</div>
							<h3 class="post-title">
								{{ lesson.title }}
							</h3>
							{{ lesson.subhead }}
						</div>

					</a>
					{% endfor %}
				</div>
				<!-- pagination -->
				{% if paginator.total_pages > 1 %}
				<div class="pagination">
				  {% if paginator.previous_page %}
				    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
				  {% else %}
				    <span>&laquo; Prev</span>
				  {% endif %}

				  {% for page in (1..paginator.total_pages) %}
				    {% if page == paginator.page %}
				      <span class="webjeda">{{ page }}</span>
				    {% elsif page == 1 %}
				      <a href="{{site.url}}/blog/">{{ page }}</a>
				    {% else %}
				      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
				    {% endif %}
				  {% endfor %}

				  {% if paginator.next_page %}
				    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
				  {% else %}
				    <span>Next &raquo;</span>
				  {% endif %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>


<div class="seo-section">
	<div class="wrap wrap-center">
		<div class="wrap_float wp-content">
			<h2 class="title">
				University of Chicago Civic Technology Lectures
			</h2>
			<img src="../img/uchicago-overview.png">
			<div class="section-content wp-content">
				
				<p>Part theory, and part technical, with a focus on the characteristics unique to public interest tech, this graduate-level course was designed and delivered in 2019 for the University of Chicago Masters in Computational Analysis and Public Policy (MS-CAPP) program, where I was a visiting lecturer. There were 16 lectures total delivered between April and June 2019. Slides from each class are posted here for viewing, sharing, or downloading, per a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Free Culture license</a>. 
				</p>

				<ul>
					{% for lecture in site.data.lectures %}
					<li>
						<a href="{{site.url}}/decks/web/viewer.html?file=/decks/lectures/{{ lecture.id }}" target="_blank">
							<strong>Lecture {{ lecture.name }}:</strong> 	{{ lecture.description }}
						</a>
					</li>
					{% endfor %}
				</ul>

	
				

			</div>
		</div>
	</div>
</div>
<section class="banner-section" style="background-image: url(/img/ethos-back.jpg);">
    <div class="wrap wrap-center">
        <div class="wrap_float">
            <div class="section-content">
				<h2 class="page-title">Videos</h2>
				<p class="subtitle"><a href="https://abhinemani.com/talks">Watch more</a> & <a href="https://abhinemani.com/contact">get in touch</a> for webinars or lectures</p>
				<div class="container-iframe"><iframe width="500" height="600" class="responsive-iframe" src="https://player.vimeo.com/video/149984557?h=73bcca338a" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>