---
layout: home2
permalink: /blog/index.html
title: Blog
tagline: When I speak aloud, publicly
tags: [about, Abhi Nemani, Code for America, pandas]
img: pia-header.png
---
<section class="banner-section" style="background-image: url(../img/blog-back.png); max-height: 400px;">
	<div class="wrap wrap-center ">
		<div class="wrap_float" style="min-height: 400px; padding: 100px 0 0 0;">
			<div class="section-content">
				<h2 class="page-title">
					Blog
				</h2>
			
				<p class="subtitle" style="color: white; line-height: 1.3em;">
					Insights & updates on government, tech, and entrepreneurship.
				</p>

			</div>
		</div>
	</div>
</section>
<div class="page-wrap archive-page with-sidebar">
	<div class="archive-body">
		<div class="wrap">
			<div class="page-wrap-content">
				<div class="post-items-list posts-fullwidth">
				
					{% for post in site.posts %}
					<a href="{{post.url}}" class="post-item" style="max-height: 300px;">
						{% if post.img  %}
						
						<img src="{{ site.url }}/img/{{post.img}}" alt="" class="post-bg-img">
						{% else %}
						<img src="{{ site.url}}/img/placeholder.jpg" alt="" class="post-bg-img">
						
						{% endif  %}
						<div class="post-tags">
							{% if post %}
							{% assign tags = post.tags %}
							{% else %}
							{% assign tags = post.tags %}
							{% endif %}
							{% for tag in tags %}
							<div class="tag">{{ tag }}</div>
							{% unless forloop.last %}&nbsp;{% endunless %}
							{% endfor %}
						</div>
						<h3 class="post-title">
							{{ post.title }}
						</h3>
						<div class="post-info">
							<div class="post-author post-info-author">
								<div class="author-image">
									<img src="{{site.url}}/img/headshot.jpg" alt="" class="image-cover">
								</div>
								<span>@AbhiNemani</span>
							</div>
							<div class="post-date post-info-date">
								{{ post.pubdate }}
							</div>

						</div>
					</a>
					{% endfor %}
				</div>
			</div>
			<div class="page-wrap-sidebar">
				<div class="sidebar-item subscribe-widget">
					<div class="sidebar-item-title">
						Newsletter
					</div>
					<div class="subtitle">
						Sign up for updates from the blog, new lessons, and other news from around the civic innovation ecosystem.
					</div>
					<div class="form">
						<form>
							<div class="form-fields">
								<div class="input-wrap">
									<input type="text" class="input" placeholder="Name*">
								</div>
								<div class="input-wrap">
									<input type="email" placeholder="Email*" class="input" name="EMAIL" id="mce-EMAIL">
								</div>
								<button class="btn submit-btn" name="process" value="Subscribe" id="mc-embedded-subscribe" >
									<span>Subscribe</span>
								</button>
							</div> 
						</form>
					</div>
				</div>
				<!--<div class="sidebar-item widget_tag_cloud">
					<div class="sidebar-item-title">Topics</div>
					<div class="tagcloud">
						{% for tag in site.categories %}
						<a href="#" class="tag-cloud-link">#{{ tag[0] }}</a>
						{% endfor %}
					</div>
				</div>-->
				
			</div>
		</div>
	</div>
</div>