	       <div style="display: none;">
	           <div class="modal modal_default modal_order" id="contact-us">
	               <div class="modal_wrap">
	                   <h2 class="title">Let's connect</h2>
	                   <div class="subtitle">
	                       You're also welcome to drop me a line directly at hello@ethoslabs.us, or book time to connect: <a href="https://abhinemani.com/cal">abhinemani.com/cal</a>.
	                   </div>
	                   <div class="modal-form">					   
					   <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
					   <script>
					     hbspt.forms.create({
					   	region: "na1",
					   	portalId: "20537688",
					   	formId: "a01d5bd3-27f7-40e4-b68b-7ffe730073f3"
					   });
					   </script>
					   <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=2318274&conversionId=6427778&fmt=gif" />
					   
	                   </div>
	               </div>
	               <div class="modal_close"></div>
	           </div>
	       </div>
		    <div class="footer">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="footer-content">
                            <div class="logo">Abhi Nemani</div>
                            <div class="wrap-center">
								<!-- HTML elements for search -->
                                <div class="socials">
                                    <a class="soc-link" href="https://facebook.com/abhi.nemani" target="_blank">
                                        <img src="{{ site.url }}/img/facebook-icon.svg" class="img-svg" alt="">
                                    </a>
                                    <a class="soc-link" href="https://twitter.com/@abhinemani" target="_blank">
                                        <img src="{{ site.url }}/img/twitter-soc-icon.svg" class="img-svg" alt="">
                                    </a>
                                    <a class="soc-link" href="https://twitter.com/@abhinemani" target="_blank">
                                        <img src="{{ site.url }}/img/linkedin-icon.png" class="img-svg" alt="">
                                    </a>
               
                                </div>
                                <div class="menu">
                                    <ul>
                                        <li><a href="{{site.url}}/about/">About Me</a></li>
                                        <li><a href="{{site.url}}/blog/">Blog</a></li>
                                        <li><a href="https://abhinemani.com/cv/">CV</a></li>
										
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-right">
								 <a class="getModal login-link" data-href="#contact-us">Get in touch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay" id="overlay"></div>
        </div>
    </div>

    <script src="{{ site.url}}/js/jquery.min.js"></script>
    <script src="{{ site.url}}/js/checkmode.js"></script>
    <script src="{{ site.url}}/js/slick.min.js"></script>
    <script src="{{ site.url}}/js/jquery.arcticmodal.min.js"></script>
    <script src="{{ site.url}}/js/lightgallery.js"></script>
    <script src="{{ site.url}}/js/jquery.mousewheel.min.js"></script>
    <script src="{{ site.url}}/js/device.min.js"></script>
    <script src="{{ site.url}}/js/jquery.placeholder.label.js"></script>
    <script src="{{ site.url}}/js/scripts.js"></script>
	<script src="https://unpkg.com/current-device/umd/current-device.min.js"></script>
	<!-- Start of HubSpot Embed Code -->
	<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/20537688.js"></script>
	<!-- End of HubSpot Embed Code -->
	<script type="text/javascript">
	_linkedin_partner_id = "2318274";
	window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
	window._linkedin_data_partner_ids.push(_linkedin_partner_id);
	</script><script type="text/javascript">
	(function(l) {
	if (!l){window.lintrk = function(a,b){window.lintrk.q.push([a,b])};
	window.lintrk.q=[]}
	var s = document.getElementsByTagName("script")[0];
	var b = document.createElement("script");
	b.type = "text/javascript";b.async = true;
	b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
	s.parentNode.insertBefore(b, s);})(window.lintrk);
	</script>
	<noscript>
	<img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=2318274&fmt=gif" />
	</noscript>

</body>