	       <div style="display: none;">
	           <div class="modal modal_default modal_order" id="contact-us">
	               <div class="modal_wrap">
	                   <h2 class="title">Let's set up some time to connect</h2>
	                   <div class="subtitle">
	                       You're also welcome to drop me a line at hello@ethoslabs.us.
	                   </div>
	                   <div class="modal-form">					   
					   <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
					   <script>
					     hbspt.forms.create({
					   	region: "na1",
					   	portalId: "20537688",
					   	formId: "a01d5bd3-27f7-40e4-b68b-7ffe730073f3"
					   });
					   </script>
					   
	                   </div>
	               </div>
	               <div class="modal_close"></div>
	           </div>
	       </div>
		    <div class="footer">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="footer-content">
                            <div class="logo">Abhi Nemani</div>
                            <div class="wrap-center">
								<!-- HTML elements for search -->
                                <div class="socials">
                                    <a class="soc-link" href="https://facebook.com/abhi.nemani" target="_blank">
                                        <img src="{{ site.url }}/img/facebook-icon.svg" class="img-svg" alt="">
                                    </a>
                                    <a class="soc-link" href="https://twitter.com/@abhinemani" target="_blank">
                                        <img src="{{ site.url }}/img/twitter-soc-icon.svg" class="img-svg" alt="">
                                    </a>
                                    <a class="soc-link" href="https://twitter.com/@abhinemani" target="_blank">
                                        <img src="{{ site.url }}/img/linkedin-icon.png" class="img-svg" alt="">
                                    </a>
               
                                </div>
                                <div class="menu">
                                    <ul>
                                        <li><a href="{{site.url}}/about/">About Me</a></li>
                                        <li><a href="{{site.url}}/blog/">Blog</a></li>
                                        <li><a href="https://abhinemani.com/cv/">CV</a></li>
										
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-right">
								 <a class="getModal login-link" data-href="#contact-us">Get in touch</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overlay" id="overlay"></div>
        </div>
    </div>
    <script src="{{ site.url}}/js/jquery.min.js"></script>
    <script src="{{ site.url}}/js/checkmode.js"></script>
    <script src="{{ site.url}}/js/slick.min.js"></script>
    <script src="{{ site.url}}/js/jquery.arcticmodal.min.js"></script>
    <script src="{{ site.url}}/js/lightgallery.js"></script>
    <script src="{{ site.url}}/js/jquery.mousewheel.min.js"></script>
    <script src="{{ site.url}}/js/device.min.js"></script>
    <script src="{{ site.url}}/js/jquery.placeholder.label.js"></script>
    <script src="{{ site.url}}/js/scripts.js"></script>
	<script src="https://unpkg.com/current-device/umd/current-device.min.js"></script>

</body>