<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Abhi Nemani",
  "url": "{{ site.url }}",
  "jobTitle": "Founder, GovTech Consultant, Advisor & Investor",
  "worksFor": {
    "@type": "Organization",
    "name": "EthosLabs",
    "url": "https://ethoslabs.us"
  },
  "alumniOf": [
    {
      "@type": "Organization",
      "name": "Euna Solutions"
    },
    {
      "@type": "Organization",
      "name": "Code for America"
    },
    {
      "@type": "Organization",
      "name": "City of Los Angeles"
    }
  ],
  "knowsAbout": ["Civic Technology", "GovTech", "Government Innovation", "Public Sector Technology"],
  "sameAs": [
    "https://www.linkedin.com/in/abhinemani/",
    "https://twitter.com/abhinemani",
    "https://github.com/abhinemani"
  ]
}
</script>
