                            <div class="menu" id="js-menu">
                                <ul>
                                    <li>
                                        <a href="{{site.url}}/about.html" target="_blank">About</a>
                                        <ul>
                                            <li>
                                                <a href="{{site.url}}/about.html">Bio</a>
                                            </li>
                                            <li>
                                                <a href="{{site.url}}/about.html#headshot">Headshot</a>
                                            </li>
											<li><a target="_blank" href="https://abhinemani.com/cv/" target="_blank">CV</a></li>
											<li><a href="{{site.url}}/about/talks.html">Talks</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="academy.html" target="_blank">Academy</a>
									</li>
                                    <li>
                                        <a href="https://govgeek.club" target="_blank">Community</a>
									</li>
                                    
                                    <li><a href="{{site.url}}/blog.html">Blog</a></li>
                                    <li><a href="https://ethoslabs.us" target="_blank">How I Help</a></li>
									
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="socials">
                        <a class="soc-link" href="https://facebook.com/abhi.nemani" target="_blank">
                            <img src="{{site.url}}/img/facebook-icon.svg" class="img-svg" alt="">
                        </a>
                        <a class="soc-link" href="https://twitter.com/@abhinemani" target="_blank">
                            <img src="{{site.url}}/img/twitter-soc-icon.svg" class="img-svg" alt="">
                        </a>
                        <a class="soc-link">
                            <img src="{{site.url}}/img/behance-icon.svg" class="img-svg" alt="">
                        </a>
                    </div>
                    <div class="menu-close" id="js-menu-close"></div>
                </div>
			</div>