                            <div class="menu" id="js-menu">
                                <ul>
                                    <li>
                                        <a href="#">About</a>
                                        <ul>
                                            <li>
                                                <a href="#">Bio</a>
                                            </li>
                                            <li>
                                                <a href="#">Press</a>
                                            </li>
                                            <li><a href="facebook-comments.html">Facebook comments</a></li>
                                            <li><a href="ads.html">Ads</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Tutorials</a></li>
                                    <li><a href="#">Talks</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Newsletter</a>
										<ul>
											<li><a href="#">Signup</a><li>
											<li><a href="#">Past Newsletters</a><li>	
									</li>
                                    <li><a href="https://abhinemani.com/cv/" target="_blank">CV</a></li>
									
								
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="socials">
                        <a class="soc-link">
                            <img src="img/facebook-icon.svg" class="img-svg" alt="">
                        </a>
                        <a class="soc-link">
                            <img src="img/twitter-soc-icon.svg" class="img-svg" alt="">
                        </a>
                        <a class="soc-link">
                            <img src="img/behance-icon.svg" class="img-svg" alt="">
                        </a>
                    </div>
                    <div class="menu-close" id="js-menu-close"></div>
                </div>
			</div>