							<!-- Start of Async Drift Code -->
							<script>
							"use strict";

							!function() {
							  var t = window.driftt = window.drift = window.driftt || [];
							  if (!t.init) {
							    if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
							    t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
							    t.factory = function(e) {
							      return function() {
							        var n = Array.prototype.slice.call(arguments);
							        return n.unshift(e), t.push(n), t;
							      };
							    }, t.methods.forEach(function(e) {
							      t[e] = t.factory(e);
							    }), t.load = function(t) {
							      var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
							      o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
							      var i = document.getElementsByTagName("script")[0];
							      i.parentNode.insertBefore(o, i);
							    };
							  }
							}();
							drift.SNIPPET_VERSION = '0.3.1';
							drift.load('pgigendnev4b');
							</script>
							<!-- End of Async Drift Code -->
                            <div class="menu" id="js-menu">
                                <ul>
                                    <li>
                                        <a href="{{site.url}}/about/" target="_blank">About</a>
                                        <ul>
                                            <li>
                                                <a href="{{site.url}}/about/">Bio</a>
                                            </li>
                                            <li>
                                                <a href="{{site.url}}/press/">Press</a>
                                            </li>
											<li><a href="{{site.url}}/talks/">Talks</a></li>
                                            <li>
                                                <a href="{{site.url}}/about/index.html#headshot">Headshot</a>
                                            </li>
											<li><a target="_blank" href="https://abhinemani.com/cv/" target="_blank">CV</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="{{site.url}}/academy/">Academy</a>
									</li>
                                    <li>
                                        <a href="{{site.url}}/community/">Community</a>
									</li>
                                    
                                    <li><a href="{{site.url}}/blog/">Blog</a></li>
                                    <li><a href="{{site.url}}/consulting/">Consulting</a></li>
									
                                </ul>
                            </div>
                        </div>
                        <div class="search-button" id="btn-search"></div>
                    </div>
                    <div class="socials">
                        <a class="soc-link" href="https://facebook.com/abhi.nemani" target="_blank">
                            <img src="{{site.url}}/img/facebook-icon.svg" class="img-svg" alt="">
                        </a>
                        <a class="soc-link" href="https://twitter.com/@abhinemani" target="_blank">
                            <img src="{{site.url}}/img/twitter-soc-icon.svg" class="img-svg" alt="">
                        </a>
                        <a class="soc-link">
                            <img src="{{site.url}}/img/linkedin-icon.png" class="img-svg" alt="">
                        </a>
                    </div>
                    <div class="menu-close" id="js-menu-close"></div>
                </div>
			</div>