---
layout: home2
title: Blog
subhead: Insights and updates on government, tech, and entrepreneurship.
img: main-social.jpg
---
<section class="banner-section" style="background-image: url({{site.url}}/img/blog-back.png); max-height: 400px;">
	<div class="wrap wrap-center ">
		<div class="wrap_float" style="min-height: 400px; padding: 100px 0 0 0;">
			<div class="section-content">
				<h2 class="page-title">
					Blog
				</h2>
			
				<p class="subtitle" style="color: white; line-height: 1.3em;">
					Insights & updates on government, tech, and entrepreneurship.
				</p>

			</div>
		</div>
	</div>
</section>
<div class="page-wrap archive-page with-sidebar">
	<div class="archive-body">
		<div class="wrap">
			<div class="page-wrap-content">
				<div class="post-items-list posts-fullwidth">
				
					{% for post in paginator.posts %}
					<a href="{{post.url}}" class="post-item" style="max-height: 300px;">
						{% if post.img  %}
						
						<img src="{{ site.url }}/img/{{post.img}}" alt="" class="post-bg-img">
						{% else %}
						<img src="{{ site.url}}/img/placeholder.jpg" alt="" class="post-bg-img">
						
						{% endif  %}
						<div class="post-tags">
							{% if post %}
							{% assign tags = post.tags %}
							{% else %}
							{% assign tags = post.tags %}
							{% endif %}
							{% for tag in tags %}
							<div class="tag">{{ tag }}</div>
							{% unless forloop.last %}&nbsp;{% endunless %}
							{% endfor %}
						</div>
						<h3 class="post-title">
							{{ post.title }}
						</h3>
						<div class="post-info">
							<div class="post-author post-info-author">
								<div class="author-image">
									<img src="{{site.url}}/img/headshot.jpg" alt="" class="image-cover">
								</div>
								<span>@AbhiNemani</span>
							</div>
							<div class="post-date post-info-date">
								{{ post.pubdate }}
							</div>

						</div>
					</a>
					{% endfor %}
				</div>
				<!-- pagination -->
				{% if paginator.total_pages > 1 %}
				<div class="pagination">
				  {% if paginator.previous_page %}
				    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
				  {% else %}
				    <span>&laquo; Prev</span>
				  {% endif %}

				  {% for page in (1..paginator.total_pages) %}
				    {% if page == paginator.page %}
				      <span class="webjeda">{{ page }}</span>
				    {% elsif page == 1 %}
				      <a href="{{site.url}}/blog/">{{ page }}</a>
				    {% else %}
				      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
				    {% endif %}
				  {% endfor %}

				  {% if paginator.next_page %}
				    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
				  {% else %}
				    <span>Next &raquo;</span>
				  {% endif %}
				</div>
				{% endif %}
			</div>
			<div class="page-wrap-sidebar">
				<div class="sidebar-item subscribe-widget">
					<div class="sidebar-item-title">
						Newsletter
					</div>
					<div class="subtitle">
						Sign up for updates from the blog, new lessons, and other news from around the civic innovation ecosystem.
					</div>
					<div class="form">
				    <form action="https://www.getrevue.co/profile/govgeek/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
							<div class="form-fields">
								<div class="input-wrap">
									<input type="email" placeholder="Email*" class="input" name="member[email]" id="mce-EMAIL">
								</div>
							    <div class="input-wrap">
							      <input class="revue-form-field input" placeholder="First name... (Optional)" type="text" name="member[first_name]" id="member_first_name">
							    </div>
							    <div class="input-wrap">
							      <input class="revue-form-field input" placeholder="Last name... (Optional)" type="text" name="member[last_name]" id="member_last_name">
							    </div>
								<button class="btn submit-btn" name="process" value="Subscribe" id="mc-embedded-subscribe" >
									<span>Subscribe</span>
								</button>
							</div> 
						</form>
					</div>
				</div>				
			</div>
		</div>
	</div>
</div>