<!DOCTYPE html>
<html lang="en">

<head>
    <title>  {{ site.title }} | {{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/android-chrome-512x512.png">
    <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicons/favicon.ico">
</head>

<body class="transition-none">
    <div class="search-section">
        <div class="wrap">
            <div class="wrap_float">
                <div class="search-form">
                    <input type="text" class="search-input" placeholder="Search…">
                    <button class="search-submit"></button>
                </div>
                <div class="search-close" id="search-close"></div>
            </div>
        </div>
    </div>
    <div class="container page">
        <div class="container-wrap">
            <div class="mobile-panel">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="mobile-btn" id="js-menu-open">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <a class="logo" href="/">
                            uipaper
                        </a>
                        <div class="search-button"></div>
                    </div>
                </div>
            </div>
            <div class="container-wrap--dummy"></div>
            <div class="top-panel" id="js-panel">
                <div class="wrap">
                    <div class="wrap_float">
                        <div class="mode-check">
                            <input type="checkbox" id="mode-checkbox" class="mode-checkbox-input">
                            <label for="mode-checkbox" class="mode-checkbox-label" data-dark-title="Dark Mode" data-light-title="Light Mode"></label>
                        </div>
                        <div class="wrap-center">
                            <a href="/" class="logo">
                                {{ site.title }}
                            </a>
                            <div class="menu" id="js-menu">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li>
                                        <a href="#">Post</a>
                                        <ul>
                                            <li>
                                                <a href="#">Header</a>
                                                <ul>
                                                    <li><a href="single.html">Standard</a></li>
                                                    <li><a href="header-large.html">Large</a></li>
                                                    <li><a href="header-large-video.html">Large with video</a></li>
                                                    <li><a href="header-version-2.html">Large Header v2</a></li>
                                                    <li><a href="header-version-3.html">Large Header v2 video</a></li>
                                                    <li><a href="header-version-4.html">Large Header v3</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Content</a>
                                                <ul>
                                                    <li><a href="accordion.html">Accordion</a></li>
                                                    <li><a href="gallery.html">Gallery</a></li>
                                                    <li><a href="video.html">Video</a></li>
                                                    <li><a href="socials.html">Social</a></li>
                                                    <li><a href="content-blocks.html">Content Blocks</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Sidebar</a>
                                                <ul>
                                                    <li><a href="single-sidebar-right.html">Standard Right</a></li>
                                                    <li><a href="single-sidebar-left.html">Standard Left</a></li>
                                                    <li><a href="single-header-fullwidth-sidebar-right.html">Large Right</a></li>
                                                    <li><a href="single-header-fullwidth-sidebar-left.html">Large Left</a></li>
                                                    <li><a href="gallery-sidebar-right.html">Gallery with Sidebar</a></li>
                                                    <li><a href="accordion-sidebar-right.html">Accordion with Sidebar</a></li>
                                                    <li><a href="video-sidebar-right.html">Video with Sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Related Post</a>
                                                <ul>
                                                    <li><a href="related-posts-grid.html">Grid</a></li>
                                                    <li><a href="related-posts-slider.html">Slider</a></li>
                                                    <li><a href="related-posts-list.html">List</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="facebook-comments.html">Facebook comments</a></li>
                                            <li><a href="ads.html">Ads</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Features</a>
                                        <ul>
                                            <li>
                                               <a href="#">Top panel</a>
                                               <ul>
                                                   <li><a href="fixed-top-panel.html">Fixed top panel</a></li>
                                                   <li><a href="fixed-top-panel-scroll-up.html">Fixing top panel when scrolling up</a></li>
                                               </ul>
                                           </li>
                                            <li>
                                                <a href="#">Author</a>
                                                <ul>
                                                    <li><a href="author.html">Author Page</a></li>
                                                    <li><a href="author-list.html">All Authors</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Category Page</a>
                                                <ul>
                                                    <li><a href="archive-fullwidth.html">Fullwidth</a></li>
                                                    <li><a href="archive-fullwidth-right-sidebar.html">Fullwidth Right Sidebar</a></li>
                                                    <li><a href="archive-fullwidth-left-sidebar.html">Fullwidth Left Sidebar</a></li>
                                                    <li><a href="archive-grid.html">Grid</a></li>
                                                    <li><a href="archive-grid-sidebar-right.html">Grid Right Sidebar</a></li>
                                                    <li><a href="archive-grid-sidebar-left.html">Grid Left Sidebar</a></li>

                                                    <li><a href="archive-two-columns.html">Two Posts</a></li>
                                                    <li><a href="archive-two-columns-sidebar-right.html">Two Posts Right Sidebar</a></li>
                                                    <li><a href="archive-two-columns-sidebar-left.html">Two Posts Left Sidebar</a></li>
                                                    <li><a href="archive-three-columns.html">Three Posts</a></li>
                                                    <li><a href="archive-sticky-post.html">Archive with Sticky Post</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Form</a>
                                                <ul>
                                                    <li><a href="contact-form.html">Contact Form</a></li>
                                                    <li><a href="subscribe-form.html">Subscribe Form</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Other</a>
                                        <ul>
                                            <li><a href="search-results.html">Search Result</a></li>
                                            <li><a href="search-results-not-found.html">Search Result (no results)</a></li>
                                            <li><a href="404.html">404 Page</a></li>
                                            <li><a href="modals.html">Modals</a></li>
                                            <li><a href="favorites.html">Favorites</a></li>
                                            <li><a href="profile.html">Profile</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul>
                                    <li class="login-li"><a data-href="#modal-login" class="login-link getModal">Login</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="search-button" id="btn-search"></div>
                    </div>
                    <div class="socials">
                        <a class="soc-link">
                            <img src="img/facebook-icon.svg" class="img-svg" alt="">
                        </a>
                        <a class="soc-link">
                            <img src="img/twitter-soc-icon.svg" class="img-svg" alt="">
                        </a>
                        <a class="soc-link">
                            <img src="img/behance-icon.svg" class="img-svg" alt="">
                        </a>
                    </div>
                    <div class="menu-close" id="js-menu-close"></div>
                </div>
            </div>
            <div class="page-wrap page-404">
                <div class="archive-header">
                    <div class="wrap wrap-center">
                        <div class="wrap_float">
                            <h1 class="page-title">{{ page.title }}</h1>
                            <div class="wp-content">
                               {{ content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="other-posts-section section">
                <div class="wrap wrap-center">
                    <div class="wrap_float">
                        <h2 class="title">See also</h2>
                        <div class="arrows">
                            <div class="arrow prev"></div>
                            <div class="arrow next"></div>
                        </div>
                        <div class="section-content">
                            <div class="other-posts-slider" id="js-other-posts-slider">
                                <a href="#" class="other-posts-slider-item">
                                    <img src="img/other-post.jpg" alt="" class="post-bg-img">
                                    <div class="other-post-info">
                                        <div class="post-tags">
                                            <div class="tag">Mobile</div>
                                            <div class="tag">APP</div>
                                        </div>
                                        <h3 class="post-title">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium asperiores deleniti non neque quasi quas assumenda dolor?
                                        </h3>
                                        <div class="post-date post-info-date">
                                            18 May 2021
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="other-posts-slider-item without-bg">
                                    <div class="other-post-info">
                                        <div class="post-tags">
                                            <div class="tag">Mobile</div>
                                            <div class="tag">APP</div>
                                        </div>
                                        <h3 class="post-title">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis blanditiis ipsam tenetur nesciunt atque!
                                        </h3>
                                        <div class="post-excerption">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit ab eveniet molestias neque, quis architecto molestiae, tempore nihil illo earum odit voluptate.
                                        </div>
                                        <div class="post-date post-info-date">
                                            18 May 2021
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="other-posts-slider-item">
                                    <img src="img/other-post-2.jpg" alt="" class="post-bg-img">
                                    <div class="other-post-info">
                                        <div class="post-tags">
                                            <div class="tag">Mobile</div>
                                            <div class="tag">APP</div>
                                        </div>
                                        <h3 class="post-title">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, officiis quos?
                                        </h3>
                                        <div class="post-date post-info-date">
                                            18 May 2021
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="other-posts-slider-item">
                                    <img src="img/other-post-3.jpg" alt="" class="post-bg-img">
                                    <div class="other-post-info">
                                        <div class="post-tags">
                                            <div class="tag">Mobile</div>
                                            <div class="tag">APP</div>
                                        </div>
                                        <h3 class="post-title">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio amet eligendi, doloremque dignissimos voluptatum sit.
                                        </h3>
                                        <div class="post-date post-info-date">
                                            18 May 2021
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="other-posts-slider-item">
                                    <img src="img/other-post-4.jpg" alt="" class="post-bg-img">
                                    <div class="other-post-info">
                                        <div class="post-tags">
                                            <div class="tag">Mobile</div>
                                            <div class="tag">APP</div>
                                        </div>
                                        <h3 class="post-title">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, impedit officia quibusdam.
                                        </h3>
                                        <div class="post-date post-info-date">
                                            18 May 2021
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="other-posts-slider-item">
                                    <img src="img/other-post-5.jpg" alt="" class="post-bg-img">
                                    <div class="other-post-info">
                                        <div class="post-tags">
                                            <div class="tag">Mobile</div>
                                            <div class="tag">APP</div>
                                        </div>
                                        <h3 class="post-title">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, incidunt.
                                        </h3>
                                        <div class="post-date post-info-date">
                                            18 May 2021
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
</body>

</html>