<!DOCTYPE html>
<html lang="en">
{% include head.html %}
{% include header.html %}
            <div class="page-wrap">
                <div class="page-wrap-content">
                    <div class="breadcrumbs">
                        <div class="wrap wrap-center">
                            <div class="wrap_float">
                                <a href="index.html">Home</a> / <a href="#">Post</a> / <span class="current">{% for category in page.categories %}
  <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
  {% unless forloop.last %} | {% endunless %}
  {% endfor %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="post-single-wrap sticky-parent">
{% include share-block.html links="linkedin,twitter,facebook" %}
                        <div class="single-header">
                            <div class="wrap wrap-center">
                                <div class="wrap_float">
                                    <div class="post-tags">
                                        {% for tag in page.tags %}
                                        <a href="#" class="tag">{{ tag }}</a>
                                        {% unless forloop.last %}&nbsp;{% endunless %}
                                        {% endfor %}
                                    </div>
                                    <h1 class="page-title">
                                       {{ page.title }}
                                    </h1>
                                    <div class="post-info">
                                        <a href="https://twitter.com/abhinemani" class="post-author post-info-author">
                                            <div class="author-image">
                                                <img src="{{site.url}}/img/headshot.jpg" alt="Abhi Nemani" class="image-cover">
                                            </div>
                                            <span>Abhi Nemani</span>
                                        </a>
                                        <div class="post-date post-info-date">
                                            {{ page.pubdate }}
                                        </div>
                                    </div>
                                    <div class="post-description">
                                        <p>
                                            {{ page.subhead }}
                                        </p>
                                    </div>
                                    {% if page.img %}
                                    <div class="post-image-large wide">
                                        <img src="{{site.url}}/img/{{ page.img }}" alt="{{ page.img-caption | default: page.title | strip_html | escape }}">
                                        <span class="caption-text"> {{ page.img-caption }}</span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="single-content wp-content">
                            <div class="wrap wrap-center">
                                <div class="wrap_float">
                                    {{ content }}
                                </div>
                            </div>
                        </div>
                    </div>
{% include footer.html %}
</html>
